% -*- erlang -*-
{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "twitterlinks", "1",
        [
         kernel,
         stdlib,
         sasl,
         gproc,
         public_key,
         crypto,
         ssl,
         inets,
         twitterlinks
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "twitterlinks"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, struct,   [{incl_cond, include}]},
       {app, gs,   [{incl_cond, include}]},
       {app, appmon,   [{incl_cond, include}]},
       {app, inets,   [{incl_cond, include}]},
       {app, ssl,   [{incl_cond, include}]},
       {app, crypto,   [{incl_cond, include}]},
       {app, public_key,   [{incl_cond, include}]},
       {app, gproc,   [{incl_cond, include}]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, twitterlinks, [{incl_cond, include}]}
      ]}.

{target_dir, "twitterlinks"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/twitterlinks", "bin/twitterlinks"},
           {copy, "files/twitterlinks.cmd", "bin/twitterlinks.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
