% -*- erlang -*-

{require_otp_vsn, "R15"}.

{deps, [
       {struct, ".*",
         {git, "https://github.com/benahlan/struct.git", "master"}},
       {gproc, ".*",
        {git, "git://github.com/uwiger/gproc.git", "master"}},
        {meck, ".*",
         {git, "git://github.com/eproxus/meck.git", "master"}}
]}.
